body{
    background-color: lightsteelblue;
    font-family: cursive;
    font-size: larger;
    font-weight: 200;
}
h2{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

}

h3{
    color: olive;
    font-size: small;
    font-family: fantasy;
}